<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página inicial</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: black;
      }
      .menu {
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
      }

      .menu img {
        width: 350px;
      }
    </style>
  </head>
  <body>
    <nav class="menu">
      <img
        src="https://cdn.awsli.com.br/300x300/1142/1142868/produto/87006404/kit-emblema-cafe-adesivo-55mm-mercedes-l-e-1418-1214-1620-1632-1618-1621-ln710-6-bg7b3m0zkj.jpg"
        alt="Logo Site"
      />
      <ul>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE NÓS</a>
      </ul>
    </nav>
  </body>
</html>
